@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  font-family: Arial, Helvetica, sans-serif;
}
.screen {
  clip-path: ellipse(100% 100% at 50% 50%);
}
.backgroundGradient {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#625c5c),
    to(#c6c6c6)
  );
}
.parent {
  overflow: hidden;
}

.scrolling-container {
  /* position: fixed;
  top: 0;
  right: 8%; */
  /* width: 100%; */
  /* max-width: 92rem; */
  will-change: transform;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease;
  z-index: 9999;
}

.cursor.hover {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
button.hover-effect {
  display: inline-block;
  box-sizing: border-box; /* Ensures padding is part of the button's hover area */
}
.bg-fixed {
  background-attachment: fixed;
}

.text-section {
  z-index: 2;
}
.image-section {
  background-color: #ccc;
}
